* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  
} 
#content-teste {
  height: 100vh;
}

nav {

}
section {

}
footer {

  
}
.container {
  margin: 2rem;
  min-height: 16rem;
  height: 100%;
}