/*------------------ General padding ----------------------*/
.padding-x-small {
  padding: .25rem;
}
.padding-small {
  padding: .5rem;
}
.padding-medium {
  padding: 1rem;
}
.padding-large {
  padding: 1.5rem;
}
.padding-x-large {
  padding: 2rem;
}

/*------------------ Y axis ----------------------*/
.vertical-padding-x-small {
  padding: .25rem 0;
}
.vertical-padding-small {
  padding: .5rem 0;
}
.vertical-padding-medium {
  padding: 1rem 0;
}
.vertical-padding-large {
  padding: 1.5rem 0;
}
.vertical-padding-x-large {
  padding: 2rem 0;
}

/*------------------ X axis ----------------------*/
.horizontal-padding-x-small {
  padding: 0 .25rem;
}
.horizontal-padding-small {
  padding: 0 .5rem;
}
.horizontal-padding-medium {
  padding: 0 1rem;
}
.horizontal-padding-large {
  padding: 0 1.5rem;
}
.horizontal-padding-x-large {
  padding: 0 2rem;
}

/* ---------------- Top padding ------------- */
.top-padding-x-small {
  padding-top: .25rem;
}
.top-padding-small {
  padding-top: .5rem;
}
.top-padding-medium {
  padding-top: 1rem;
}
.top-padding-large {
  padding-top: 1.5rem;
}
.top-padding-x-large {
  padding-top: 2rem;
}

/* ---------------- Right padding ------------- */
.right-padding-x-small {
  padding-right: .25rem;
}
.right-padding-small {
  padding-right: .5rem;
}
.right-padding-medium {
  padding-right: 1rem;
}
.right-padding-large {
  padding-right: 1.5rem;
}
.right-padding-x-large {
  padding-right: 2rem;
}

/* ---------------- Bottom padding ---------------- */
.bottom-padding-x-small {
  padding-bottom: .25rem;
}
.bottom-padding-small {
  padding-bottom: .5rem;
}
.bottom-padding-medium {
  padding-bottom: 1rem;
}
.bottom-padding-large {
  padding-bottom: 1.5rem;
}
.bottom-padding-x-large {
  padding-bottom: 2rem;
}

/* ---------------- Left padding ---------------- */
.left-padding-x-small {
  padding-left: .25rem;
}
.left-padding-small {
  padding-left: .5rem;
}
.left-padding-medium {
  padding-left: 1rem;
}
.left-padding-large {
  padding-left: 1.5rem;
}
.left-padding-x-large {
  padding-left: 2rem;
}